@{
    ViewData["Title"] = "Home Page";
}
<!-- Test CICD -->
<link rel="manifest" href="~/manifest.json">
<!-- Note: Avoid using inline styles as much as possible. Instead, use classes or ids & .css files -->
    <div style="width:100%; margin: 0;">
        <div class="text-center" 
             style="background-color: var(--light-grey); width: 100%; margin-top: 0; padding-top: 50px; padding-bottom: 50px;
                    left: 0; border-radius: 10px;">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <br /><br />
                  <dir id="check-the-css-file">
                      <p class="color-div" style="background-color: var(--red);">red</p>
                      <p class="color-div" style="background-color: var(--orange);">orange</p>
                      <p class="color-div" style="background-color: var(--yellow);">yellow</p>
                      <p class="color-div" style="background-color: var(--green);">green</p>
                      <p class="color-div" style="background-color: var(--blue);">blue</p>
                      <p class="color-div" style="background-color: var(--purple);">purple</p>
                      <p class="color-div" style="background-color: var(--pink);">pink</p>
                  </dir>
        </div>
    </div>
