@{
    ViewData["Title"] = "Admin Portal Login";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Admin" asp-action="Dashboard">
    <p>Username:</p>
    <input type="text" maxlength="50" /><br />
    <p maring-top="7px">Password:</p>
    <input type="password" maxlength="50" />
    <button id="login_button" type="submit">Login</button>
</form>